.aside-profile
  h2
    i.fa.fa-user.fa--has-margin
    | Who am I?
  p
    img(src='/img/1000ch.png', width='128', height='128', style='float: left;')
    | I'm <a href='http://twitter.com/1000ch'>1000ch</a>. Engineer at <a href='https://www.cyberagent.co.jp/'>CyberAgent, Inc</a>.
    | I worked as back-end engineer before, and now work as front-end engineer, performance evangelist, open-source freak.
    | Particularly in recent, I write and speak about Web Components, WebRTC, WebAudio+WebVideo, ECMAScript 6.
    | My little spare time is spent writing junk codes hosted on <a href='http://github.com/1000ch'>GitHub</a>.

.aside-elsewehere
  h2
    i.fa.fa-plane.fa--has-margin
    | Elsewhere
  ul
    li
      i.fa.fa-github.fa--has-margin
      a(href='http://github.com/1000ch') GitHub
    li
      i.fa.fa-twitter.fa--has-margin
      a(href='http://twitter.com/1000ch') Twitter
    li
      i.fa.fa-linkedin.fa--has-margin
      a(href='http://www.linkedin.com/in/1000ch') LinkedIn
    li
      i.fa.fa-flag.fa--has-margin
      a(href='http://html5experts.jp/1000ch/') HTML5Experts.jp
    li
      i.fa.fa-bookmark.fa--has-margin
      a(href='https://pinboard.in/u:1000ch/') Pinboard
    li
      i.fa.fa-flickr.fa--has-margin
      a(href='https://www.flickr.com/photos/1000ch/') Flickr

.aside-pickup
  h2
    i.fa.fa-hand-o-right.fa--has-margin
    | Pickup
  ul
    li
      a(href='http://article.enja.io/articles/give-png-a-chance.html') Give PNG a chance
    li
      a(href='https://medium.com/@1000ch/we-should-optimize-images-8435760e0ec9') We should optimize images
    li
      a(href='http://html5experts.jp/1000ch/8906/') Web Componentsが変えるWeb開発の未来

.aside-likebox
  h2
    i.fa.fa-facebook-square.fa--has-margin
    | Facebook
  .fb-like-box(
    data-href='https://www.facebook.com/1000ch.net'
    data-width='300'
    data-height='180'
    data-show-faces='true'
    data-header='false'
    data-stream='false'
    data-show-border='false'
  )
